.logo {
    max-height:100px;
    max-width: 100%;
}

.icon {
    max-height: 50px;
}

.footer{
    background: #c1c1b9;
    
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    padding: 10px;
}

#footerSec1{
    text-align: right;
}

a:hover {
    color: #ffec82;
    text-decoration: none;
}