
<div class="footer navbar-bottom">
    <div class="col-sm-4" id="footerSec1">
      <!--  <span>Footer Picture</span> -->
        <img  id="footerImg" src="../../assets/images/dotnetbclogo.png">
    </div>
    <div class="col-sm-4">       
        <span>
            <p>
                
                .NET User Group of British Columbia
                Mission: To provide a forum where developers can meet others of similar
                interests and discuss .NET related topics facilitate the exchange of 
                knowledge, experience, information and ideas; and explore the progression
                of .NET technology
            </p>
        </span>
    </div>
    <div class="col-sm-4">
        <span>Footer Members</span>
    </div>
</div>