<div class="row">
    <div class="col-sm-4">
        <a routerLink="/home" routerLinkActive="active"><img src="/assets/images/dotnetbclogo.png" class="logo" alt=".Net BC" /></a>
    </div>
    <div class="col-sm-4">
        <span><strong>Mission:</strong> To provide a forum where developers can meet others of similar interests and discuss .Net related topics; facilitate the exchange of knowledge, experience, information, & ideas; and explore the progression of .Net technology.
</span>
    </div>
    <div class="col-sm-4">
        <p>
            <strong>Email:</strong> <a href="mailto:members@netbc.ca"> members@netbc.ca</a>
        </p>
        <div class="col-xs-6">
            <a href="https://www.meetup.com/NET-User-Group-of-BC/"><img src="/assets/images/meetuplogo.png" class="icon" /></a>
        </div>
        <div class="col-xs-6">
            <a href="https://www.meetup.com/NET-User-Group-of-BC/"><img src="/assets/images/rsslogo.png" class="icon" /></a>
        </div>
    </div>
</div>