<div class="row" *ngIf="!isPublicEvent && !authenticationService.isLoggedIn()">
    <div class="col-sm-6 col-sm-offset-3">
        <login></login>
    </div>
</div>

<div *ngIf="isPublicEvent || authenticationService.isLoggedIn() && selectedEvent != undefined">
    <h2>{{selectedEvent.evbrief}}</h2>

 <!--   <p>id: {{selectedEvent.evid}}</p>
    <p>daytime: {{selectedEvent.evdayt}}</p> -->

    <p><strong>Event Date:</strong> {{selectedEvent.evdate}}</p>
    <p><strong>Time:</strong> {{selectedEvent.evtime}}</p>
    <p><strong>Event Location:</strong> {{selectedEvent.evloc}}</p>
    <p class="hidden"><strong>Event Description:</strong> {{selectedEvent.evbriefdesc}}</p>
    <div [innerHTML]="selectedEvent.evdetail" class="cleaner"></div>
    <p class="hidden">event public update{{selectedEvent.evpubdate}}</p>

</div>