<div class="row" *ngIf="!isPublicEvent && !authenticationService.isLoggedIn()">
    <div class="col-sm-6 col-sm-offset-3">
        <login></login>
    </div>
</div>

<div *ngIf="isPublicEvent || authenticationService.isLoggedIn() && selectedEvent != undefined">
    <h2>{{selectedEvent.evbrief}}</h2>
    <div *ngIf="authenticationService.isLoggedIn() && attendence != undefined">
        <label for="attend" class="inline">I am attending: </label>
        <input type="checkbox" class="checkbox inline" [(ngModel)]="attendence.attending" (click)="submit()" name="attend" value="true" checked="checked" />
    </div>

    <p><strong>Event Date:</strong> {{selectedEvent.evdate}}</p>
    <p><strong>Time:</strong> {{selectedEvent.evtime}}</p>
    <p><strong>Event Location:</strong> {{selectedEvent.evloc}}</p>
    <p class="hidden"><strong>Event Description:</strong> {{selectedEvent.evbriefdesc}}</p>
    <div [innerHTML]="selectedEvent.evdetail" class="cleaner"></div>
    <p class="hidden">event public update{{selectedEvent.evpubdate}}</p>
    <button class="btn" routerLink="/home" routerLinkActive="active">Back</button>

</div>