<div class="row" *ngIf="!isPublicEvent && !authenticationService.isLoggedIn()">
    <div class="col-sm-6 col-sm-offset-3">
        <login></login>
    </div>
</div>

<div *ngIf="isPublicEvent || authenticationService.isLoggedIn() && selectedEvent != undefined">
    <h4>{{selectedEvent.evbrief}}</h4>

 <!--   <p>id: {{selectedEvent.evid}}</p>
    <p>daytime: {{selectedEvent.evdayt}}</p> -->

    <p>event date: {{selectedEvent.evdate}}</p>
    <p>event time: {{selectedEvent.evtime}}</p>
    <p>event location: {{selectedEvent.evloc}}</p>
    <p>event description: {{selectedEvent.evbreifdesc}}</p>
    <div [innerHTML]="selectedEvent.evdetail"></div>
    <p>event public update{{selectedEvent.evpubdate}}</p>

</div>