form {
    margin: 10px;
}

input {
    margin: 10px 0px;
}

button {
    margin: 10px 0px;
    background-color: #ffec82;
    color: #0c1521;
}

button:hover {
    background-color: #105e8c;
    color: #fffefa;
}