.logo {
    max-height: 75px;
    max-width: 100%;
}

.navbar {
    background-color: #0c1521;
    width: 100%;
    min-height: 100px;
}

.navbar-nav {
    display:inline-block;
}

.navbar-header {
    min-height: 100px;
}

.container-fluid {
  text-align:center;
  min-height: 100px;
}

.nav>li {
    height:100%;
}

.nav a {
    color: #fffefa;
}

.nav a:hover {
    color: #ffec82;
}



