.logo {
    max-height: 80px;
}

.navbar {
    height: 100px;
    background-color: #0c1521;
}

.container-fluid {
  text-align:center;
  }

.navbar-nav {
    display:inline-block;
    vertical-align: top;
    padding: 25px 25px;
}

.nav ul{
    margin:0;
}
