<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">logo goes here</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="icon-bar" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="icon-bar" routerLink="/registration" routerLinkActive="active">Register</a></li>
            <li><a class="icon-bar" routerLink="/admin" routerLinkActive="active">Admin</a></li>
            <li><a class="icon-bar" routerLink="/profile" routerLinkActive="active">Profile</a></li>
        </ul>
    </div>
</nav>