/* You can add global styles to this file, and also import other style files */

h2 {
    color: #105e8c;
}

html, body{
    height: 100%;
}

body {
    background-color: #fffefa;
    color:#0c1521;
}

a {
    color: #105e8c;
}

a:hover {
    color: #ffec82;
}