/* You can add global styles to this file, and also import other style files */

h2 {
    font-family: 'Oswald', sans-serif;
    color: #105e8c;
}

h1, h3, h4, h5, h6 {
    color: #105e8c;
}

hr {
    color: #c1c1b9;
}

html, body{
    height: 100%;
}

body {
    background-color: #fffefa;
    color:#0c1521;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #105e8c;
}

a:hover {
    color: #c1c1b9;
}