<div class="container">
    <form *ngIf="member != undefined" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required="" [(ngModel)]="member.email">
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" required="" [(ngModel)]="member.firstName">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" required="" [(ngModel)]="member.lastName">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" required="" [(ngModel)]="member.city">
        </div>
        <div class="form-group">
            <label for="NotifyJobs">Notify About Jobs</label>
        <input type="checkbox" class="checkbox" [(ngModel)]="NotifyJobs" name="NotifyJobs"autofocus="" value="true" checked="checked" />
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>